<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Rails Blog Application</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">大学生向けのシンプルなブログプラットフォーム</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-lg px-4" %>
      <%= link_to "記事を見る", posts_path, class: "btn btn-outline-primary btn-lg px-4" %>
    </div>
  </div>
</div>
